/UnitTests/
Documentation/
proj_files.lnt
.project
.cproject
.settings
dumps
/Debug executable/
**/*.o
**.d
**.gcda
**.gcno
**.log
**.a
**/strace_out
Debug/report.tasks
**/perf.data
**/*.swp
Debug/PVS-Studio.cfg
